/* re inicio de valores al boy */
body{
    margin: 0;
    padding: 0;       
    font-size: 12px;
    background-color: #e9e9e9;
}

/* Estilos para el header y navegador */
header a{
    text-decoration: none;
    cursor: pointer;    
}
/* se configura el tamaño del header*/
header{
    width: 100%;
    height: 50px;
    align-items: center;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    position: sticky; top: 0;
    z-index: 10;
    
}
/* se considero colocar el nav en un grid ya que este esta compuesto de tres secciones
   una seccion ´para el logo de printerest y los tres primeros links, el buscador y 
   la seccion derecha, con las alertas, mensajes y el perfil  */
header nav{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    justify-content: center;
}
header ul{
    margin: 10px;
    list-style: none;
    display: flex;
    padding-left: 0;
}
header .header-izquierda{
    justify-content: left;
}
header .header-derecha{
    justify-content: right;
}
header .header-centro{
    justify-content: center;
}
header ul li a{
    margin: 10px;
    color: #5f6368;
    transition: all 500ms ease-out;
}
/* efecto de cambiod e tamaño en los tres primero link´s */
header ul li a:hover{
    margin: 10px;
    color: #5f6368;
    font-size: 15PX;  
}
header .icono{
    background-image: url('./img/logoprinterest.JPG');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    transition: all 500ms ease-out;
    cursor: pointer;
}
/* cambio de tamaño en el link de icono de printerest */
header .icono:hover{
    background-image: url('./img/logoprinterest.JPG');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer;
    transform: scale(1.3);
}
header img{
    border-radius: 50%;
    margin-left: 10px;
    width: 25px;
    height: 25px;
    transition: all 500ms ease-out;
}
/* animacion para los iconos del lado derecho */
header img:hover{
    border-radius: 50%;
    margin-left: 10px;
    width: 25px;
    height: 25px;
    transform: scale(1.3);
}
header .entrada{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 35px;
}
header .entrada-contenedor{
    width: 95%;
    border-radius: 100px;
    border: 1px solid #e1e2e6;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
header .entrada input{
    width: 90%;
    height: 30px;
    border: none;
    outline: none;
}
header .entrada-contenedor :hover{
    box-shadow: 1px 6px 0 #20212447;    
}
header .entrada .icono-busqueda{
    background-image: url('./img/lupagoogle.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
}


/* estilos de main */
/* el main trabaja con tres clases el contenedor que es el padre
 la clase elemento, la clase figure, la clase capa y se aplican 
 los formatos a las imagenes y botones */

main .contenedor{
    width: 100%;
    max-width: 90%;
    margin: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    display: grid;
    column-gap: 5px;
    grid-template-columns: repeat(5, 1fr);    
    grid-template-rows: 1fr;
    grid-gap: 2px;      
}
/* clase para el manejo de las imagenes */
main .contenedor .elemento figure{
    position: relative;
    width: 160px;
    height: 250px;
    overflow: hidden;
    border-bottom-right-radius: 13% ;
    border-top-left-radius: 13%;
    box-shadow: 0px 15px 25px rgba(139, 133, 133, 0.5);
    cursor: pointer;
}

main .contenedor .elemento img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
    object-fit: cover;
    grid-column: span 2;
    border-bottom-right-radius: 15%;
    border-top-left-radius: 15%;
}
main .contenedor .elemento figure:hover > img{
    transform: scale(1.3);
}
main .contenedor .elemento figure .capa{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,103,123,0.3);
    transition: all 500ms ease-in-out;
    opacity: 0;
    visibility:  hidden;
    text-align: center;

}
main .contenedor .elemento figure:hover > .capa{
    opacity: 1;
    visibility: visible;
}
main .contenedor .elemento figure .capa h3{
    color: #e1e2e6;
    background-color: #5f6368;
}

main .contenedor .elemento figure .boton{
    display: inline-block;
    position: absolute;
    top: 25%;
    left: 70%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #c21818;
    color: rgb(249, 248, 248);
    font-size: 12px;
    padding: 5px 5px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    text-align: center;
}
 
main .contenedor .elemento figure .boton:hover {
    background-color: black;
    color: white;    
}
main .contenedor .elemento figure .boton2{
    display: inline-block;
    position: absolute;
    top: 85%;
    left: 60%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #8b8787; 
    cursor: pointer;
    border-radius: 20px;
}
main .contenedor .elemento figure .boton2:hover {
    background-color: rgb(105, 99, 99);
}
main .contenedor .elemento figure .boton3{
    display: inline-block;
    position: absolute;
    top: 85%;
    left: 80%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #8b8787; 
    cursor: pointer;
    border-radius: 20px;
}
main .contenedor .elemento figure .boton3:hover {
    background-color: rgb(105, 99, 99);
}


main .contenedor .elemento figure > .boton .a1{
    position: absolute;
    top: 20em;
    right: 2em;
    background-color:#96de31;
    border-radius:1.5em;
    color:white;
    text-transform:uppercase;
    padding:5px 5px;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
    opacity: 1;
}

    
main .contenedor .elemento figure > .boton .a2{
    position: absolute;
    top: 20em;
    right: 0;
    background-color:#cade31;
    border-radius:1.5em;
    color:white;
    text-transform:uppercase;
    padding:5px 5px;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
    opacity: 1;
}

footer{
    width: 100%;
    height: 50px;
    position:fixed;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
}
footer p{
    display: flex;
    margin: 10px;
    padding-left: 0;
    justify-content: right;
}
/* media query */
@media screen and (max-width:400px){
  
    main .contenedor{
        width: 100%;
        grid-template-columns: repeat(1, 1fr);        
        grid-gap: 10px;
        grid-template-rows: 200px;
    }
    main .contenedor .elemento img{
        height: 200px;
    }
   
}